@import 'tailwindcss';
@plugin "tailwindcss-animate";

@font-face {
  font-family: 'Chicago';
  src:
    local('Chicago'),
    url(./fonts/Chicago.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@theme {
  --color-fg: black;
  --color-bg: white;
}

@layer base {
  :root {
    font-family: 'Chicago';
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-[antiquewhite] text-2xl leading-tight font-light;
  }

  [data-theme='dark'] {
    --color-fg: white;
    --color-bg: black;
    color-scheme: dark;
  }

  body {
    @apply relative flex h-screen w-full items-center justify-center transition-colors;
  }

  body::before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:
      linear-gradient(
        to top,
        rgba(255, 255, 255, 0.2) 33.33333%,
        rgba(255, 255, 255, 0.4) 33.33333%,
        rgba(255, 255, 255, 0.4) 66.66666%,
        rgba(255, 255, 255, 0.6) 66.66666%
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 0.7) 33.33333%,
        rgba(0, 255, 0, 0.7) 33.33333%,
        rgba(0, 255, 0, 0.7) 66.66666%,
        rgba(0, 0, 255, 0.7) 66.66666%
      );

    background-size: 5px 5px;
    opacity: 0.8;
    mix-blend-mode: overlay;

  }

  .custom-scroll {
    /* width */
    ::-webkit-scrollbar {
      width: 1rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border: 0.125rem solid var(--color-fg);
      border-top: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 1rem 1rem var(--color-fg);
      border: solid 0.25rem transparent;
    }
  }
}
